<template>
  <div class="item">
    <p class="item__title">{{news.title}}</p>
    <p class="item__description">{{news.description}}</p>
    <div class="item__footer">
      <p class="item__created"></p>
      <div class="item__rating">
        <button class="item__button "></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewsItem",
  props:{
    news:{
      default(){
        return {}
      }
    },
  }
}
</script>

<style scoped>

</style>