<template>
  <div class="news">
    <div class="news__header">

    </div>
    <div class="news__list">

    </div>
  </div>
</template>

<script>
export default {
  name: "NewsList"
}
</script>

<style scoped>

</style>